<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" monitorInterval="30">
    <Appenders>
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%msg%n" />
        </Console>
        <File name="ValidatorLog" filename="ValidatorLog.log">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="RunnerLog" filename="RunnerLog.log">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="GenCommandsLog" filename="GenCommandsLog.log">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
        <File name="SchedulerLog" filename="SchedulerLog.log">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        # Set level
        <Root level="trace">
            <AppenderRef ref="StdOut" level="trace"/>
        </Root>
        <Logger name="Validator" level="trace">
            <AppenderRef ref="StdOut" level="trace" />
            <AppenderRef ref="ValidatorLog" level="trace" />
            <AppenderRef ref="ValidatorLog" level="debug" />
            <AppenderRef ref="ValidatorLog" level="info" />
            <AppenderRef ref="ValidatorLog" level="warn" />
            <AppenderRef ref="ValidatorLog" level="error" />
            <AppenderRef ref="ValidatorLog" level="fatal" />
        </Logger>
        <Logger name="Runner" level="trace">
            <AppenderRef ref="StdOut" level="trace" />
            <AppenderRef ref="RunnerLog" level="trace" />
            <AppenderRef ref="RunnerLog" level="debug" />
            <AppenderRef ref="RunnerLog" level="info" />
            <AppenderRef ref="RunnerLog" level="warn" />
            <AppenderRef ref="RunnerLog" level="error" />
            <AppenderRef ref="RunnerLog" level="fatal" />
        </Logger>
        <Logger name="GenCommands" level="trace">
            <AppenderRef ref="StdOut" level="trace" />
            <AppenderRef ref="GenCommandsLog" level="trace" />
            <AppenderRef ref="GenCommandsLog" level="debug" />
            <AppenderRef ref="GenCommandsLog" level="info" />
            <AppenderRef ref="GenCommandsLog" level="warn" />
            <AppenderRef ref="GenCommandsLog" level="error" />
            <AppenderRef ref="GenCommandsLog" level="fatal" />
        </Logger>
        <Logger name="Scheduler" level="trace">
        <AppenderRef ref="StdOut" level="trace" />
        <AppenderRef ref="SchedulerLog" level="trace" />
        <AppenderRef ref="SchedulerLog" level="debug" />
        <AppenderRef ref="SchedulerLog" level="info" />
        <AppenderRef ref="SchedulerLog" level="warn" />
        <AppenderRef ref="SchedulerLog" level="error" />
        <AppenderRef ref="SchedulerLog" level="fatal" />
    </Logger>
    </Loggers>
</Configuration>